*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */

@font-face {
    src: url(../assets/font/HelveticaNowText-Regular.ttf);
    font-family: Helvetica-Now;
}

body, .white-button, .black-button{
    font-family: Helvetica-Now;
    line-height: 1.5;
    font-size: 20px;
}

.col-60{
    height: 90%;
    width: 60%;
    border: 2px dashed black;
    background-color: rgba(31,145,255,255);
}

.col-40{
    height: 90%;
    width: 40%;
    border: 2px dashed black;
    background-color: rgba(254,193,203,255);
}

.central{
    max-width: 1170px;
    margin: 0 auto;
}

.smaller-central{
    max-width: 900px;
    margin: 0 auto;
}

.white{
    color: white;
}

.white-button{
    background-color: white;
    padding: 13px;
    border-radius: 40px;
    padding: 10px 25px;
    border-color: transparent;
}
.black-button{
    color: white;
    background-color: rgba(35,39,42,255);
    border-radius: 40px;
    padding: 10px 25px;
    margin-left: 30px;
    border-color: transparent;
}

.central-content{
    text-align: center;
}

h1{
    margin-bottom: 25px;
}

p{
    margin-bottom: 25px;
}
/* END UTILITIES */


/* start header */
header{
    background-image: url(../assets/img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.header-row{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo, .header-link, .header-login{
    height: 35px;
    border: 2px dashed black;
    padding: 6px;
}

.header-logo{
    width: 20%;
    text-align: left;
    padding-left: 10px;
    background-image: url(../assets/img/logo.svg);
    background-repeat: no-repeat;
}
.header-link{
    width: 60%;
    text-align: center;
}

.header-login{
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 
}

.header-text{
    padding: 20px;
}
/* end header */

/* start first section */

.first-sec{
    
}
.first-row{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-col{
    width: 100%;
    border: 2px dashed black;
    line-height: 1.8;
}
/* end first section */

/* start second section */
.second-sec{
    background-color: rgb(255, 255, 255);
}
.second-row{
    width: 100%;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end second section */

/* start third section */
.third-sec{
    background-color: rgba(210,211,210,255);
}
.third-row{
    width: 100%;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end third section */

/* start fourth section */
.fourth-sec{
    background-color: rgb(255, 255, 255);
}
.fourth-row{
    width: 100%;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end fourth section */

/* start fifth */
.fifth-sec{
    background-color: rgba(210,211,210,255);
}
.fifth-row{
    width: 100%;
    height: 940px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-col{
    height: 90%;
    width: 100%;
    border: 2px dashed black;
    background-color: rgba(34,139,34,255);
}
/* end fifth section */

/* start footer */
footer{
    background-color: rgba(35,39,42,255);
}
.sixth-row{
    width: 100%;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-30{
    width: 30%;
    height: 90%;
    border: 2px dashed black;
    background-color: rgba(241,129,128,255);
}
.col-70{
    width: 70%;
    height: 90%;
    border: 2px dashed black;
}

.intern-raw{
    height: 100%;
    display: flex;
}
.col-17{
    width: calc(100% / 4);
    background-color: rgba(32,178,170,255);
    border: 2px dashed white;
}

.footer-container{
    background-color: rgba(126,255,213,255);
}
.footer-row{
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    background-color: rgba(126,255,213,255);
}

.footer-logo, .footer-bottone{
    background-color: rgba(255,183,192,255);
    padding: 5px;
    border: 2px dashed black;
}
